/* Стили для меню*/
.navbar-nav .nav-link {
    font-weight: 500;
    color: #fff !important;
    margin-right: 15px;
}
/* Стили для навигационной панели */
.navbar {
    background-color: #24509A;
    box-shadow: 0 2px 4px #24509A;
    color: #bbbbbb;
}

.navbar-brand img {
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}
/* Стили для карточек */
.card {
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(18, 73, 155, 0.1); 
    transition: transform 0.2s; 
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-container {
    width: 150px; 
    height: 150px;
    margin: 20px auto; 
    border-radius: 50%; 
    overflow: hidden; 
}

.card-img-top {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.card-body {
    padding: 20px; 
    text-align: left; 
    flex: 1; 
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px; 
}

.row {
    justify-content: center;
}

.col-md-3 {
    margin: 20px;
}

/* Центрирование заголовков и текста */
h1, h3 {
    text-align: center;
}

/* Стили для подвала */
.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 20px 0;
    margin-top: 40px;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
    text-align: center; /* Добавлено центрирование текста в подвале */
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
